body {
    // 修改光标样式
    cursor: url(/assets/images/default.cur), default;
   
}
// html {
//     // 黑白滤镜
//     filter: grayscale(100%);
//     -webkit-filter: grayscale(100%);
//     -moz-filter: grayscale(100%);
//     -ms-filter: grayscale(100%);
//     -o-filter: grayscale(100%);
// }