// .VPContent {
//     height: 100vh;
//     background-image: url(./public/assets/images/bg.png)
//     background-size: cover;
// }

// 修改光标样式
body {
    cursor: url(/assets/images/default.cur), default;
}